.workItem {
    width: 350px;
    border: transparent 1px solid;
    flex-wrap: wrap;
    border-radius: 3px;
    margin: 1rem;
    padding: 1.5rem 1.3rem 1.5rem 1.3rem;
    transition: 0.3s ease-in-out;
}

.workItem:hover {
    background-color: #242424;
}

.workItem h2 {
    color: var(--lightgrey);
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.workItem p {
    font-size: 15px;
    line-height: 1.5;
    color: var(--grey);
    margin-bottom: 1.1rem;
}

.workItem button {
    color: var(--blue);
    background: none;
    padding: 0.5rem 1.6rem;
    font-size: 14px;
    font-weight: 500;
    font-family: var(--mainFont);
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
    border: var(--blue) solid 2px;
}

.workItem button:hover {
    background-color: var(--blue);
    color: #242424;
}

.link {
    text-decoration: none;
}

.workItem ul {
    color: var(--blue);
    margin-top: 1rem;
    display: flex;
    gap: 9px;
    flex-wrap: wrap;
}

.workItem li {
    font-weight: 500;
    background-color: #1b232d;
    line-height: 1.25rem;
    padding: 0.25rem 0.75rem;
    border-radius: 9999px;
    font-size: 14px;
    transition: 0.3s ease-in-out;
}

.workItem li:hover {
    background-color: var(--blue);
    color: #1b232d;
}

@media (max-width: 914px) {
    .workItem {
        width: auto;
    }
}
